<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @chef.chefname %></h1>
    <p>
     Thanks for registering! To confirm your registration click the URL below.
    </p>
    <p>
     <%= confirm_email_chef_url(@chef.confirm_code) %>
    </p>
  </body>
</html>